html {
	cursor: default;
	container-type: inline-size;
	container-type: inline-size scroll-state;
	overscroll-behavior: contain;
}

body {
	position: relative;
	max-inline-size: 1024px;
	margin: 0 auto;
	padding-inline: gap();
}
