.button {
	display: inline-flex;
	gap: gap(0.75);
	align-items: center;

	padding: gap(0.55) gap(1.5) gap(0.6);
	border: 1px solid var(--color__input-border);

	line-height: var(--typography__leading--tight);
	color: var(--color__foreground--strong);
	text-align: center;

	background-color: var(--color__input);

	:where(&) {
		border-radius: var(--radius);
	}

	&:hover {
		background-color: var(--color__input--hover);
	}

	&:focus-visible {
		background-color: var(--color__input--hover);
	}

	&:active {
		background-color: var(--color__input--active);
	}

	&.icon-mobile {
		justify-content: center;
		min-inline-size: 40px;
		min-block-size: 40px;
	}
}
