.option {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-block: calc(var(--gap) / 2 - 0.15em) calc(var(--gap) / 2);
	padding-inline: calc(var(--gap) - var(--typography__outline-thickness));
	border-radius: calc(var(--radius) - var(--typography__outline-thickness));

	color: inherit;

	outline-color: transparent;
	outline-style: solid;

	transition:
		background-color var(--animation__duration) var(--animation__ease),
		box-shadow var(--animation__duration--fast) var(--animation__ease-in-out);
}

.option::checkmark {
	content: '';

	order: 1;

	aspect-ratio: 1;
	inline-size: 1em;

	background-color: var(--color__foreground);

	mask-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cpath fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" /%3E%3C/svg%3E');
}

.option:hover {
	background-color: var(--color__muted);
	transition: none;
}

.option:focus-visible {
	outline: none;
	box-shadow: 0 0 0 var(--typography__outline-thickness) var(--color__outline);
}

.option:checked {
	background-color: var(--color__input--hover);
}
