.header {
	position: sticky;
	z-index: 10;
	inset-block-start: 0;

	display: flex;
	gap: gap();
	align-items: center;
	justify-content: space-between;

	padding-block: gap(1.5);

	background: linear-gradient(to bottom, var(--color__background) 78%, transparent);

	@container not scroll-state(scrollable: top) {
		span[role='img'] {
			scale: 1.2;
		}
	}
}
